extends layout

block content

	section.mod-home
		.container
			
			div.layout-left
				ul.menu
					li
						a(href="noticias") Noticias
					li
						a(href="capacitaciones") Capacitaciones
					li
						a(href="documentos") Gestión de Documentos
					li
						a(href="eventos") Eventos