
.badge
	background-color #0F0F0F
	color #FFF
	overflow hidden
	position absolute
	right 0
	top 7px

.navbar-radioshack
	background-color #ED1C24
	border-color #CE0B14

	.navbar-brand
		color #FFF
		font-weight 600

		&:hover
		&:focus
			text-shadow 0 0 3px rgba(255,255,255,.6)

	.navbar-nav > li > a
		color #FFF
		padding-left 12px
		padding-right 12px

		&:hover
		&:focus
			background-color #F6424B
			color #FFF

	input.form-control
		width 300px
